title {
	color:cyan;
	text-transform: full-width;
}

#queryResultsRequestForm {

	text-align: center;

}
/*
	Remember, this affects the text in this class;
*/
p.dataReturnCheckboxes {
	color: green;

}

h1 {
	color:darkviolet;
	text-align:center;
	text-transform:uppercase;
}

h2 {
	color:darkgrey;
	background-color: green;
	border-style:inset;
	align-content:flex-start;
}

h3 {
	color:blueviolet;
}
