title {
	color:cyan;
	text-transform: full-width;
}

p.dataReturnCheckboxes {
	text-align: center;
}

h1 {
	color:darkviolet;
	text-align:center;
	text-transform:uppercase;;
}

h2 {
	color:magenta;
	text-align: center;
	background-color: grey;
	border-style:inset;;
}

h3 {
	color:blueviolet;
}
